<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' />
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>

  <title>Project Manager</title>
</head>

<header>
  <nav>
    <a href='/'>Home</a>
    {{#if loggedIn}}
    <a href="/dashboard">Dashboard</a>
    <button class="no-button" id="logout">Logout</button>
    {{else}}
    <a href='/login'>Login</a>
    {{/if}}
  </nav>
</header>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/dashboard">All Projects</a></li>
        <li><a href="/dashboard/unfinished">Unfinished Project</a></li>
        <li><a href="/dashboard/completed">Completed Project</a></li>
        <li><a href="/dashboard/issues">Projects with Issues</a></li>
        <li><a href="/dashboard/will">Projects from Will</a></li>
        <li><a href="/dashboard/jose">Projects from Jose</a></li>
        <li><a href="/dashboard/mab">Projects from Mab</a></li>
        <li><a href="/dashboard/francisco">Projects from Francisco</a></li>
        <li><a href="/dashboard/dean">Projects from Dean</a></li>
      </ul>
      <br>
      <a href="/dashboard/create/"><button id="create-post">+ New Project</button></a>
    </div>

    <body>
      {{{body}}}

    </body>
  </div>

  {{#if logged_in}}
  <script src='/js/logout.js'></script>
  <script src="/js/newProject.js"></script>
  {{/if}}

</html>