<header>
  <nav>
    <a href='/'>Home</a>
    {{#if loggedIn}}
    <button id='logout' class='btn-no-style'>Logout</button>
    {{else}}
    <a href='/login'>Login</a>
    {{/if}}
  </nav>
</header>

<main>
  <aside>
    <p>will do it later</p>
    {{! <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Unfinished Project</a></li>
        <li><a href="#">Completed Project</a></li>
        <li><a href="#">Projects with Issues</a></li>
        <li><a href="#">Projects from Will</a></li>
        <li><a href="#">Projects from Jose</a></li>
        <li><a href="#">Projects from Mab</a></li>
        <li><a href="#">Projects from Francisco</a></li>
        <li><a href="#">Projects from Dean</a></li>
        <li><a href="#">All Projects</a></li>
      </ul>
    </div> }}
  </aside>
  <div class='container'>

    {{{body}}}
  </div>
</main>
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Unfinished Project</a></li>
        <li><a href="#">Completed Project</a></li>
        <li><a href="#">Projects with Issues</a></li>
        <li><a href="#">Projects from Will</a></li>
        <li><a href="#">Projects from Jose</a></li>
        <li><a href="#">Projects from Mab</a></li>
        <li><a href="#">Projects from Francisco</a></li>
        <li><a href="#">Projects from Dean</a></li>
        <li><a href="#">All Projects</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
        <li><a href="#section2">Unfinished Project</a></li>
        <li><a href="#section3">Completed Project</a></li>
        <li><a href="#section3">Projects with Issues</a></li>
        <li><a href="#section4">Projects from Will</a></li>
        <li><a href="#section5">Projects from Jose</a></li>
        <li><a href="#section6">Projects from Mab</a></li>
        <li><a href="#section7">Projects from Francisco</a></li>
        <li><a href="#section8">Projects from Dean</a></li>
        <li><a href="#section9">All Projects</a></li>
      </ul><br>
    </div>
    <br>
    <div class="col-sm-9">
      <div class="well">
        <h4>Dashboard</h4>
        <p>Include Text</p>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h4>Completed</h4>
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>Issues Found</h4>
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>In Progress</h4>
            <p>Text</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="well">
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="well">
              <p>Text</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <p>Text</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {{#if logged_in}}
  <script src='/js/logout.js'></script>
  {{/if}}