<form class="edit-project-form">

  <div>
    <label for="project-title">Title:</label>
    <input class="input" name="project-title" type="text" value="{{project.title}}" />
  </div>

  <div>
    <label for="project-description">Description:</label>
    <input class="textarea" name="project-description" type="text" value="{{project.description}}" />
  </div>

  <div>
    Progress: <select name="project-progress" id="project-progress">
      <option value="unfinished" selected="project-progress">Unfinished</option>
      <option value="issues" selected="project-progress">Issues</option>
      <option value="completed" selected="project-progress">Completed</option>
    </select>
  </div>

  <div>
    <label for="project-deadline">Start date:</label>

    <input type="date" id="project-deadline" name="project-deadline">
  </div>

    <button class="edit-project-btn" type="submit">+ New Project</button>
</form>

<script src="/js/editProject.js"></script>