<a href="/dashboard" type="button" class="btn btn-warning">Go back</a>

<h2>Edit Project:</h2>

<form class="edit-project-form">

  <div>
    <label for="new-project-title" class="form-label">Title:</label>
    <input class="input form-control" name="new-project-title" type="text" value="{{project.title}}" />
  </div>

  <div>
    <label for="new-project-description" class="form-label">Description:</label>
    <input class="textarea form-control" name="project-description" type="text" value="{{project.description}}" />
  </div>

  <div class="progress-date">
    <label for="new-project-progress" class="form-label">Progress:</label>
    <select name="new-project-progress" id="new-project-progress">
      <option value="In Progress">In Progress</option>
      <option value="Issues">Issues Found</option>
      <option value="In Review">In Review</option>
      <option value="Completed">Completed</option>
    </select>
  </div>

  <div class="progress-date">
    <label for="project-deadline" class="form-label">Deadline date: </label>
    <input type="date" name="project-deadline" id="project-deadline" />
  </div>

  <button class="btn btn-success edit-project-btn " type="submit">Save</button>
  <button type="button" class="btn btn-danger delete-project-btn">Delete</button>
</form>

<script src="/js/editProject.js"></script>
<script src="/js/deleteProject.js"></script>