<a href="/dashboard">Go back</a>

<h2>Edit Project:</h2>

<form class="edit-project-form">

  <div>
    <label for="project-title">Title:</label>
    <input class="input" name="project-title" type="text" value="{{project.title}}" />
  </div>

  <div>
    <label for="project-description">Description:</label>
    <input class="textarea" name="project-description" type="text" value="{{project.description}}" />
  </div>

  <div>
    <label for="project-progress">Progress:</label>
    <select name="project-progress" id="project-progress">
      <option value="In Progress">In Progress</option>
      <option value="Issues">Issues Found</option>
      <option value="In Review">In Review</option>
      <option value="Completed">Completed</option>
    </select>
  </div>

  <div>
    <label for="project-deadline">Deadline date: </label>
    <input type="date" name="project-deadline" id="project-deadline" />
  </div>

  <button class="edit-project-btn" type="submit">Save</button>
</form>

<button type="button" class="delete-project-btn">Delete</button>

<script src="/js/editProject.js"></script>
<script src="/js/deleteProject.js"></script>