<!-- homepage.handlebars -->
<div class='container'>
  <ol class='project-list'>
    {{#each projects as |project|}}
      <ul>
        <li>{{project.id}}</li>
      </ul>
    {{/each}}
    <p>project one</p>
    <p>project one</p>

    <p>project one</p>
    <p>project one</p>
    <p>project one</p>
  </ol>
</div>