<a href="/dashboard">Go back</a>

<h2>New Project:</h2>

<form class="new-project-form">

  <div>
    <label for="project-title">Title:</label>
    <input class="input" name="project-title" type="text" value="{{project.title}}" />
  </div>

  <div>
    <label for="project-description">Description:</label>
    <input class="textarea" name="project-description" type="text" value="{{project.description}}" />
  </div>

  <div>
    <label for="project-progress">Progress:</label>
    <select name="project-progress" id="project-progress">
      <option value="issues">Issues</option>
      <option value="unfinished">In Progress</option>
      <option value="completed">Completed</option>
    </select>
  </div>

  <div>
    <label for="project-deadline">Deadline date: </label>
    <input type="date" name="project-deadline" id="project-deadline" />
  </div>

    <button class="new-project-btn" type="submit">Save</button>
</form>

<script src="/js/newProject.js"></script>