<a href="/dashboard">Go back</a>

<h2>New Project:</h2>

<form class="new-project-form">

  <div>
    <label for="new-project-title">Title:</label>
    <input class="input" name="new-project-title" type="text" value="{{project.title}}" />
  </div>

  <div>
    <label for="new-project-description">Description:</label>
    <input class="textarea" name="new-project-description" type="text" value="{{project.description}}" />
  </div>

  <div>
    <label for="new-project-progress">Progress:</label>
    <select name="new-project-progress" id="new-project-progress">
      <option value="In Progress">In Progress</option>
      <option value="Issues">Issues Found</option>
      <option value="In Review">In Review</option>
      <option value="Completed">Completed</option>
    </select>
  </div>

  <div>
    <label for="new-project-deadline">Deadline date: </label>
    <input type="date" name="new-project-deadline" id="new-project-deadline" />
  </div>

    <button class="new-project-btn" type="submit">Save</button>
</form>

<script src="/js/newProject.js"></script>