<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Project Title</h5>
    <h6 class="card-text">The description of the project goes here.</h6>
    <p>Created by User on 01/26/2023</p>

    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Update Status
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Complete</a>
        <a class="dropdown-item" href="#">Issue Found</a>
        <a class="dropdown-item" href="#">In Progress</a>
      </div>
    </div>
  </div>
</div>