html * {
  font-size: 15px;
  line-height: 1.625;
  color: darkblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
  padding: 15px;
}

.divider:after,
.divider:before {
  content: '';
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.card, form{
  border: 10px;
  border-radius: 15px;
  border-style: dotted;
  border-width: 2px;
  padding: 10px;
  margin: 10px;
  max-width: 80%;
}

.new-project-btn,
.edit-project-btn,
.delete-project-btn {
  max-width: 80%;
}

.banner {
  font-size: 50px;
  color: rgb(49, 49, 99);
}

.main-title {
  font-size: 25px;
  color: white;
  background-color: rgb(105, 105, 163);
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
}

.progress-title {
  font-size: 20px;
  color: green;
}

.project-description {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.project-description p {
  font-size: 15px;
  color: black;
  background-color: lightgray;
  font-weight: normal;
  border-radius: 10px;
  padding: 10px;
  min-width: 90%;
}

.project-tag > p {
  font-size: 15px;
  color: black;
  font-weight: lighter;
  font-style: italic;
}

.textarea {
  width: 90%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  resize: none;
  margin: 5px;
  margin-bottom: 10px;
}
